/* Colors --------------- */

html {
  --hue-main: 220;
  --color-text: hsl(var(--hue-main), 10%, 25%);
  --color-text--high-contrast: hsl(var(--hue-main), 10%, 5%);
  --color-link: hsl(var(--hue-main), 40%, 30%);
  --color-background: hsl(var(--hue-main), 51%, 98.5%);
}

@media (prefers-color-scheme: dark) {
  html.no-js {
    --color-text: hsl(var(--hue-main), 5%, 60%);
    --color-text--high-contrast: hsl(var(--hue-main), 10%, 80%);
    --color-link: hsl(var(--hue-main), 60%, 60%);
    --color-background: hsl(var(--hue-main), 10%, 12.5%);
  }
}

[data-color-theme='dark'] {
  --color-text: hsl(var(--hue-main), 5%, 60%);
  --color-text--high-contrast: hsl(var(--hue-main), 10%, 80%);
  --color-link: hsl(var(--hue-main), 60%, 60%);
  --color-background: hsl(var(--hue-main), 10%, 12.5%);
}

html {
  content: 'color-theme-light';
}

@media (prefers-color-scheme: dark) {
  html {
    content: 'color-theme-dark';
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--color-link);
}

b {
  color: var(--color-text--high-contrast);
}

h1,
h2,
h3 {
  color: var(--color-text--high-contrast);
}

.site-branding a {
  color: var(--color-text--high-contrast);
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}
