/* Colors --------------- */

:root {
  --hue-main: 180;
  --color-text: hsl(var(--hue-main), 10%, 25%);
  --color-text--high-contrast: hsl(var(--hue-main), 10%, 5%);
  --color-link: hsl(var(--hue-main), 40%, 30%);
  --color-background-light: hsl(var(--hue-main), 51%, 98.5%);
}

a {
  color: var(--color-link);
}

h1,
h2,
h3 {
  color: var(--color-text--high-contrast);
}

.site-branding a {
  color: var(--color-text--high-contrast);
}

body {
  color: var(--color-text);
  background: var(--color-background-light);
}
