/* General -------------- */

a {
  text-decoration: none;
}

/* Colors --------------- */

:root {
  --hue-main: 120;
  --color-text: hsl(var(--hue-main), 10%, 20%);
  --color-background-light: hsl(var(--hue-main), 51%, 98.5%);
  --b: ;
}

.site-branding a {
  color: var(--color-text);
}
