
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ metaDescription }}">

  <link rel="stylesheet" href="/assets/css/main.css?ref={{ site.buildTime | date('X') }}">
  <link rel="stylesheet" href="https://use.typekit.net/itz0kxv.css">
</head>
<body>
  {{ content | safe }}
  <footer class="main-footer">
    <p><small>Updated: {{ site.buildTime }}</small></p>
  </footer>
  <script src="/assets/js/main.bundle.js?ref={{ site.buildTime | date('X') }}"></script>
</body>
</html>