.social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-list svg {
  width: auto;
  height: calc(6 * var(--b));
  vertical-align: bottom;
}

.social-links-list {
  & li {
    margin: 0 0.5rem;
  }

  & a {
    display: block;
  }

  & a path {
    fill: var(--color-text);
  }

  & a:hover path {
    fill: var(--color-text--high-contrast);
  }
}
