/* Colors --------------- */
@define-mixin commonColorProperties {
}

@define-mixin lightColorProperties {
  --color-code-string: hsl(93, 80%, 29%);
  --color-code-function: hsl(53, 73%, 30%);
  --color-code-constant: hsl(120, 40%, 50%);
  --color-code-variable: hsl(241, 97%, 68%);
  --color-code-keyword: hsl(209, 98%, 59%);
  --color-code-punctuation: hsl(140, 3%, 68%);
  --color-code-class-name: hsl(60, 40%, 46%);
  --color-code-operator: hsl(140, 3%, 68%);
}

@define-mixin darkColorProperties {
  --color-code-string: hsl(93, 100%, 69%);
  --color-code-function: hsl(53, 53%, 69%);
  --color-code-constant: hsl(120, 33%, 70%);
  --color-code-variable: hsl(241, 97%, 88%);
  --color-code-keyword: hsl(209, 98%, 79%);
  --color-code-punctuation: hsl(140, 3%, 78%);
  --color-code-class-name: hsl(60, 100%, 86%);
  --color-code-operator: hsl(0, 0%, 93%);
}

html {
  @mixin commonColorProperties;
  @mixin lightColorProperties;
}

@media (prefers-color-scheme: dark) {
  html {
    -webkit-font-smoothing: antialiased;

    @mixin darkColorProperties;
  }
}

[data-color-theme='dark'] {
  -webkit-font-smoothing: antialiased;

  @mixin darkColorProperties;
}

[data-color-theme='light'] {
  @mixin lightColorProperties;
}

:not(pre) > code,
pre[class*='language-'] {
  background: var(--color-background--high-contrast);
  /* background: #fff; */
}

.token {
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7c7c7c;
}

.token.punctuation {
  color: var(--color-code-punctuation);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: var(--color-code-keyword);
}

.token.class-name {
  color: var(--color-code-class-name);
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: var(--color-code-constant);
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #ff73fd;
}

.token.selector,
.token.rule,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-code-string);
}

.token.variable {
  color: var(--color-code-variable);
}

.token.operator {
  color: var(--color-code-operator);
}

.token.entity {
  color: #ffffb6;

  /* text-decoration: underline; */
}

.token.url {
  color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
  color: var(--color-code-string);
}

.token.atrule,
.token.attr-value {
  color: var(--color-code-string);
}

.token.function {
  color: var(--color-code-function);
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
