<div class="color-scheme-toggles" role="group" title="select a color scheme">
  <p class="color-scheme-toggles-title | small-text">Change Theme</p>
  <ol data-theme-switcher class="color-scheme-toggles-list | ui-list">
    <li>
      <input type="radio" name="scheme" id="system" value="system" aria-label="system color scheme" checked>
      <label for="system">auto</label>
    </li>
    <li>
      <input type="radio" name="scheme" id="dark" value="dark" aria-label="dark color scheme">
      <label for="dark">dark</label>
    </li>
    <li>
      <input type="radio" name="scheme" id="light" value="light" aria-label="light color scheme">
      <label for="light">light</label>
    </li>
  </ol>
</div>