<footer class="site-footer | hPad">
  {% include "layouts/_color-scheme-toggle.njk" %}
  <p>Made with 🍄in Berlin, Germany · <a href="/legal/">Legal Information</a><br>Generated with 11ty.io · Last Update: {{ site.buildTimeString }}<br>
  </p>
</footer>