<footer class="site-footer | hPad">
	<p><small>Made with 🍄in Berlin, Germany.<br>Site generated with 11ty.io<br>on {{ site.buildTimeString }}<br>
	<a href="/legal/">Legal Information</a></small></p>
</footer>