<footer class="site-footer | hPad">
  {% include "layouts/_color-scheme-toggle.njk" %}
  {% include "layouts/_social-links.njk" %}
  <div class="site-colophon | tiny-text">
    <p>Made with🐝in Berlin, Germany</p>
    <p>Built with <a href="https://11ty.io">Eleventy</a> · Deployed on <a href="https://netlify.com">Netlify</a><br>
    Last Update: {{ site.buildTimeString }}</p>
    <p><a href="/legal/"><i>Legal</i> <b><i>Information</i></a></p>
  </div>

</footer>