<footer class="site-footer | hPad">
  {% include "layouts/_color-scheme-toggle.njk" %}
  {% include "layouts/_social-links.njk" %}
  <div class="site-colophon">
    <p>Made with 🍄in Berlin, Germany · <a href="/legal/">Legal Information</a></p>
    <p>Built with 11ty.io · Last Update: {{ site.buildTimeString }}</p>
  </div>

</footer>