<div class="social-links">
  <ol class="social-links-list | ui-list">
    <li>
      <a href="{{ site.urls.github }}">{{ '/src/assets/images/icons/icon-github.svg' | svgContents | safe }}</a>
    </li>
    <li>
      <a href="{{ site.urls.linkedin }}">{{ '/src/assets/images/icons/icon-linkedin.svg' | svgContents | safe }}</a>
    </li>
  </ol>
</div>