<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  {# <link rel="stylesheet" href="/styles/index.css"> #}
  <link rel="stylesheet" href="/assets/css/main.css?ref={{ site.buildTime.getTime() }}">
  <link rel="stylesheet" href="https://use.typekit.net/itz0kxv.css">	
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  <div class="page">
    <p class="site-branding"><b>BG</b></p>
    {{ content | safe }}
    {% include "layouts/_footer.njk" %}
  </div>
  <script src="/scripts/index.js"></script>
</body>
</html>