---
layout: layouts/base.njk
---
<h1 class="main-title">{{ title | safe }}</h1>
{{ content | safe }}

<h1>Quick Notes</h1>
{% include 'layouts/_posts-list.njk' %}
<p><a href="{{ '/notes/' | url }}">all notes →</a></p>