---
layout: layouts/base.njk
---
<div class="page">
	<p class="site-branding"><b>BG</b></p>
	{{ content | safe }}
	
	{% set av = site.availability %}
	<div class="availability{{ " availability--true" if av.status }}">
		<p>{{ av.text  }}</p>
		<p>{{ av.date  }}</>
	</div>
</div>