---
layout: layouts/base.njk
---
<div class="page">
	<p class="site-branding"><b>BG</b></p>
	{{ content | safe }}
	
	<div class="availability">
		<p>{{ site.availability.status }}</p>
		
		<p>{{ site.availability.text  }}</p>
		<p>{{ site.availability.date  }}</>
		123
	</div>
</div>