*:focus,
*:focus + label {
  outline-color: var(--color-link);
}

/* input[type='radio']:focus + label {
} */

@media (-webkit-min-device-pixel-ratio: 0) {
  *:focus,
  *:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}
