/* Colors --------------- */
html {
  --hue-main: 220;
  --hue-accent: 238;
  --color-link: hsl(var(--hue-accent), 75%, 60%);
  --color-almost-white: hsl(var(--hue-accent), 75%, 99%);
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--color-link);
}

b,
strong {
  color: var(--color-text--high-contrast);
}

h1,
h2,
h3 {
  color: var(--color-text--high-contrast);
}

.site-branding a {
  color: var(--color-text--low-contrast);
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}

.site-colophon {
  color: var(--color-text--low-contrast);
}

.meta-text {
  color: var(--color-text--low-contrast);
}
