/* Colors --------------- */
html {
  --hue-main: 220;
  --hue-accent: 238;
}

@define-mixin lightColorProperties {
  --color-text: hsl(var(--hue-main), 10%, 25%);
  --color-text--high-contrast: hsl(var(--hue-main), 10%, 5%);
  --color-link: hsl(var(--hue-accent), 70%, 50%);
  --color-background: hsl(var(--hue-main), 51%, 98.5%);
  --color-text--highlight: var(--color-link);
}

@define-mixin darkColorProperties {
  -webkit-font-smoothing: antialiased;

  --color-text: hsl(var(--hue-main), 5%, 70%);
  --color-text--high-contrast: hsl(var(--hue-main), 10%, 95%);
  --color-link: hsl(var(--hue-accent), 70%, 65%);
  --color-background: hsl(var(--hue-main), 10%, 12.5%);
  --color-text--highlight: var(--color-link);
}

@media (prefers-color-scheme: light) {
  html {
    @mixin lightColorProperties;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @mixin darkColorProperties;
  }
}

[data-color-theme='dark'] {
  @mixin darkColorProperties;
}

[data-color-theme='light'] {
  @mixin lightColorProperties;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--color-link);
}

b,
strong {
  color: var(--color-text--high-contrast);
}

h1,
h2,
h3 {
  color: var(--color-text--high-contrast);
}

.site-branding a {
  color: var(--color-text--high-contrast);
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}
