/* General -------------- */

a {
  text-decoration: none;
}

.ui-list {
  padding-left: 0;
  list-style: none;
}

.site-branding {
  text-align: right;
  font-size: calc(var(--ms-neg-1) * 1rem);
}

.reading-time {
  display: none;
}
