/* Vars --------------------- */

html {
  --outer-gutters: 0.8rem;
}

@media (min-width: 38em) {
  html {
    --outer-gutters: 2rem;
  }
}

/* General  ----------------- */

a {
  text-decoration: none;
}

.ui-list {
  padding-left: 0;
  list-style: none;
}

.site-branding {
  /* text-align: right; */
  font-size: calc(var(--ms-neg-1) * 1rem);
  font-weight: bold;
}

.reading-time {
  display: none;
}

/* Scrollbars  -------------- */

:root {
  --scrollbar-thickness: 0.35rem;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  border-radius: 100px;
  width: var(--scrollbar-thickness);
  height: var(--scrollbar-thickness);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--color-link);
}
