/* Layout ----------- */

:root {
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.page {
  max-width: 100%;
}

.site-content,
.site-footer {
  padding-top: 2rem;
  padding-bottom: 0;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
}

.section:not(:last-child) {
  margin-bottom: calc(8 * var(--b));
}

.site-content {
  margin-bottom: 2rem;
}

.site-content {
  margin-bottom: 2rem;
}

.hPad {
  padding-left: var(--outer-gutters);
  padding-right: var(--outer-gutters);
}

.site-footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 2rem;
}

@media (min-width: 30rem) {
  .entry-body {
    padding-top: 2rem;
  }
}
