/* Layout ----------- */

:root {
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.site-content,
.site-footer {
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 0;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.site-content {
  margin-bottom: 2rem;
}

.site-content {
  margin-bottom: 2rem;
}

.hPad {
  padding-left: var(--outer-gutters);
  padding-right: var(--outer-gutters);
}

.site-footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 2rem;
}

@media (min-width: 30rem) {
  .page {
    padding-top: 4rem;
  }

  .entry-body {
    padding-top: 2rem;
  }
}
