/* Colors --------------- */

:root {
  --color-text: hsl(0, 0%, 16%);
}

/* Typograhpy ----------- */

body {
  font-family: niveau-grotesk, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: calc(24 / 16);
  color: var(--color-text);
}

/* Layout ----------- */
